.users--landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .default-img {
    max-width: 500px;
  }

  p {
    max-width: 85%;
    text-align: center;
  }
}
